/* Color variables */
:root
{
    --pcolor:rgb(86 86 86);
    --scolor: #f7971e;
    --white : white;
    --gray: grey;
}

/* body of sign page */
body{
    display: grid;
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(145deg, var(--gray) , var(--scolor));
    height: auto;
    overflow: hidden;
    /* background-image: url("b1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
     */
}

/* center sign in box */
.center{
    
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: auto;
    margin-bottom: 10px;
    width: 400px;
    background: #565656;
    border-radius: 10px;
 
}

/* sign in heading */
.center h1{
    color: antiquewhite;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;

}
/* form */
.center form{

    padding: 0 40px ;
    box-sizing: border-box;

}
/* text fields */
form .txt_field{
    
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;

}

.txt_field input{

    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
/* labels */
.txt_field label{

    position: absolute;
    top: 50%;
    left: 5px;
    color: var(--white);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;

}
/* span error handling */
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--scolor);

}
/* this code makes the labels move upward */
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{

    top: -5px;
    color: var(--scolor);

}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{

    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: var(--white);
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;

}
/* sign in, sign up, reset button */
input[type="submit"], input[type="reset"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: var(--scolor);
    border-radius: 25px;
    font-size: 18px;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-top: 5px;
}
input[type="submit"]:hover, input[type="reset"]:hover{

    border-color:var(--scolor);
    transition: .5s;

}
/* sign up link */
.signup_link{

    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: var(--white);

}
.signup_link a{
    color: var(--scolor);
    text-decoration: none;

}
.signup_link a:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 450px)
{
    .center
    {
        width: 350px;
    }
}

/* sign in link */

.signin_link{

    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: var(--white);

}
.signin_link a{
    color: var(--scolor);
    text-decoration: none;

}
.signin_link a:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 450px)
{
    .center
    {
        width: 350px;
    }
}