@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
/* Color variables */
:root
{
    --pcolor:rgb(86 86 86);
    --scolor: #f7971e;
    --white : white;
    --gray: grey;
}

/*body head */


#body-header
{
    background-color: var(--pcolor);
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    position:sticky;
    top: .000001px;
    z-index: 2;
}
/* logo */
#logo
{
    height: 10rem;
    width: 15rem;
    order: 0;
}
#logo img
{
    
    height: 100%;
    min-width: 12rem;
    width: 100%;
}
/* profile menu */


*{
	
	list-style: none;
	/* font-family: 'Jost', sans-serif; */
}

.navbar{
	background: none;
	width: 200px;
	height: 60px;
    margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
}
.navbar .nav_right{
    margin-left: -75px;
}
.navbar .nav_right > ul{
	display: flex;
	align-items: center;
}

.navbar .nav_right ul li.nr_li{
	margin-left: 0px;
	cursor: pointer;
	color: var(--white);
	font-size: 20px;
	position: relative;
}

.navbar .nav_right ul li.nr_li:hover {
    color: #cefffc;
}

.navbar .nav_right ul li img{
	width: 35px;
	vertical-align: middle;
}

.navbar .dd_menu {
    position: absolute;
    width: 300px;
    right: -30px;
    top: 47px;
    display: flex;
    background: var(--white);
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
    display: none;
}

.navbar .dd_menu .dd_left{
	background: var(--pcolor);
	padding: 15px 20px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.navbar .dd_menu .dd_left li{
	color: var(--white);
}

.navbar .dd_menu .dd_right{
	padding: 10px;
}

.navbar .dd_menu li{
	margin-bottom: 10px;
	color: var(--gray);
}

/* .navbar .dd_menu:before{
	content: "";
	position: absolute;
	top: -20px;
	right: 30px;
	border: 10px solid;
	border-color: transparent transparent #fff transparent;
} */

.navbar .dd_main.active .dd_menu{
	display: flex;
}

/* buttons */
#button
{   
    order: 3;
    width: 200px;
}
#signup,#signin
{
    border: none;
    background: none;
    color: var(--white);
}
#signin
{
    border-left: 1px solid var(--white);
}


/* navigation menu */
#nav
{   
    position:sticky;
    top: 55px;
    z-index: 1;
    background-color: var(--pcolor);
    margin-top: -2.5vh;
}
.horizontal-list
{
    list-style: none;
    padding: 0px;
    text-align: center;
    position: relative;
    
}
.horizontal-list li 
{
    display: inline-block;
    margin: 10px 10px 10px 0px;
   
}

.horizontal-list li a
{
    color: var(--white);
    text-decoration: none;
    transition: color 1s, border-bottom 3s ;
    
    
}
.nav-menu li a:hover 
{
    color: var(--scolor);
    border-bottom: 1px solid var(--scolor);
    
}
/* search bar */
*{
    box-sizing: border-box;
  }
  #search-bar
  {
      margin-left: -10vh;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid var(--gray);
    float: left;
    width: 80%;
    height: 2rem;
    background: var(--white);
    border-radius: 10px;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    height: 2rem;
    padding: 1px;
    background: var(--scolor);
    color: var(--white);
    font-size: 17px;
    border: 1px solid var(--gray);
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 10px;
  }
  
  form.example button:hover {
    
    box-shadow: 0px 1px 5px 1px #b9b9b9 ;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  /* to change position when screen shriks */
  @media screen and (max-width:800px) 
  {
    #search-bar
    {
        
        position: absolute;
        left: 70%;
        transform: translate(-50%, -50%);
        margin-top: 150px;
    }
    #nav
    {
        padding-top: 50px;
    }
    .navbar .nav_right
    {
        margin-left: -20px;
    }
  }

  
  /* Contact section */
  /* centering the heading */
  .section-heading
{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
    text-align: center;
    color: var(--white);
}
/* #contact .section-heading span
{
    color: white;
} */
/* background color */
#contact
{
    background-color: var(--pcolor);   
}

#contact #contact-container
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
#contact-form 
{
    width: 700px; 
}
#contact-form form
{
    margin-left: 20%;
}
#contact-details
{
    width: 500px;
    margin-left: 6%;
    color: var(--white);
}
#contact-details h3 {
    
    font-weight: 550;
    font-size: 1.2rem;
}
#contact-details p {
    /* color: #d9dcdd; */
    font-size: 0.9rem;
}
.my-address-info {
    margin-bottom: 20px;
    /* color: #d9dcdd; */
    font-size: 1rem;
}

/* .my-address-info span {
    margin-left: 0.4rem;
} */

.my-address-info i {
    color: var(--white);
}
/* Styling form inputs  */
#contact-form input, textarea {
    max-width: 90%;
    margin-top: 10px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid var(--white);
    color: var(--white);
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}
/* styling submit button of form */
#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid var(--white);
    margin: auto;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: var(--white);
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}
/* changing color of button on hover */
#contact-form button[type="submit"]:hover
{
    background-color: var(--white);
    color: var(--pcolor);    
}
/* removing outline of intput boxes */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    
}  